
html,
body,
#root {
  margin: 0;
  padding: 0;
  /*height: 100%;*/
}
/* Layout for sidebar + pages */
.app-layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  margin-left: 250px;
  width: calc(100% - 250px);
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
}
